<!DOCTYPE html>
<html style="margin-right: 0px">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <meta content="JustAuthPlus 演示自定义授权页" name="keywords"/>
    <meta content="JustAuthPlus 演示自定义授权页" name="description"/>
    <title>JustAuthPlus 演示自定义授权页</title>
</head>
<body>
<div id="app">
    <div aria-labelledby="modalSignupVerticalTitle" aria-modal="true" class="modal fade show portal-container" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
                <div class="card">
                    <p class="card-header">
                    <h1>JAP授权服务端软件</h1>
                    <h2>这是自定义的授权确认页面</h2>
                    </p>
                    <div class="card-body confirm-box">
                        <div class="d-block text-center">
                            <img class="card-img-top" style="width: 75px" th:src="${clientDetail.logo}"/>
                            <h3 class="modal-title mt-4 mb-4 text-gray-800" th:text="${clientDetail.appName}"></h3>
                        </div>
                        <form class="mb-6 mt-4" method="post" name="confirmationForm" th:action="${requestPath}">
                            <p>
                                <a target="_blank" th:href="${clientDetail.siteDomain}"><strong
                                        th:text="${clientDetail.appName}"></strong></a>
                                申请获取以下权限：
                            </p>
                            <ul class="list-group scope-list">
                                <li class="list-group-item p-2" th:each="scopeInfo : ${scopeInfos}">
                                    <input checked class="mr-2" name="scopes" readonly="readonly"
                                           style="margin-right: 5px;" th:if="${scopeInfo.selected}" th:value="${scopeInfo.code}"
                                           type="checkbox"/>
                                    <input class="mr-2" name="scopes" readonly="readonly"
                                           style="margin-right: 5px;" th:unless="${scopeInfo.selected}" th:value="${scopeInfo.code}"
                                           type="checkbox"/>
                                    <label class="mb-0"
                                           th:text="${scopeInfo.code} + ' - ' + ${scopeInfo.description}"></label>
                                </li>
                            </ul>
                            <p class="help-block mt-4 mb-2">
                                授权后表明你已同意 <a>服务协议</a>
                            </p>
                            <button class="btn btn-primary pull-right btn-block mt-4 mb-2" type="submit">
                                同意授权
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
