<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>JustAuthPlus 演示自定义登录页</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container" style="text-align: center;">
    <p>
    <h1>JAP授权服务端软件</h1>
    <h2>这是自定义的授权登录页面</h2>
    </p>
    <form class="form-signin" method="post" th:action="${requestPath}">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label class="sr-only" for="username">Username</label>
            <input autofocus class="form-control" id="username" placeholder="Username" required
                   th:name="${usernameField}"
                   type="text">
        </p>
        <p>
            <label class="sr-only" for="password">Password</label>
            <input class="form-control" id="password" placeholder="Password" required th:name="${passwordField}"
                   type="password">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
